body, html {
    overflow-x: hidden;
    overflow-y: auto;
}

#map {
	/*width: 1500px;
	height: 1400px;*/
	display: block;
  	height: 100%;
  	margin: 0 0%;
	background-color: #CCC;
}

.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

.list-view {
	background: #1c5380;
	z-index: 10;
	position: fixed;
	top: 60px;
	right: 25px;
	width: 380px;
	padding: 5px;
	opacity: 0.8;
	margin: 20px 0 0 0;
}

.glyphicon-search {
	color: white;
}

.list-view li {
	padding: 0 0 0 10px;
	 /*padding: 10px;*/
	/*position: relative;*/
	border: 1px solid #ddd;
	background: white;
	/*width: 280px;*/
	/*float: right;*/
	transition: 0.5s;
	list-style-type: none;
	color: #1c5380;
}

.filterBox {
	z-index: 10;
	position: fixed;
	right: 80px;
	top: 25px;
	height: 35px;
	width: 320px;
}

.filter-bar {
	position: absolute;
	left: 0;
	height: 100%;
	width: 80%;
	font-size: 16px;
	padding: 5px 5px 5px 10px;
	border-radius: 5px 0 0 5px;
	outline: 0;
	border: 1px solid #1c5380;
	font-weight: 200;
}

.filter-bar:focus {
  border-top: 3px solid #1c5380;
  border-bottom: 3px solid #1c5380;
  border-left: 3px solid #1c5380;
}

.filter-bar[placeholder] {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}


.filter-button {
  background: #1c5380;
  height: 100%;
  position: absolute;
  border: 0;
  right: 0;
  width: 20%;
  outline: 0;
  border-radius: 0 5px 5px 0;
}

.filter-button:hover,
.list-toggle:hover {
  background: #0062ff;
}

.venue-infowindow .venue-name,
.list-name {
	font-family: 'Poiret One', cursive;
	font-size:20px;
	/*font-weight: 400;*/
	margin: 0 0 5px 0;
	font-weight: bold;
	line-height: 1.35;
	overflow: hidden;
	white-space: nowrap;
}

.venue-category {
	font-weight: bold;
}

.venue-rating {
	margin: 0 0 0 10px;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	border-radius: 10px
}

.venue-price {
	margin: 0 0 0 10px;
	min-width: 8px;
	padding: 2px 7px;
	font-size: 10px;
	font-weight: 700;
	color: #fff;
	line-height: 1;
	white-space: nowrap;
	text-align: center;
	background-color: #777;
	border-radius: 9px
}

.venue-address {
	margin: 4px 0;
}

#infolistBox {
	width: 500px;
	padding-left: 2px;
	padding-right: 2px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	border-radius: 3px;
	z-index: 10;
	position: fixed;
	top: 15px;
	right: 15px;
	background-color: #FFFFFF;
	}

.list-view {
	font-size: 12px;
	list-style: none;
	width: 370px;
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
}

.list-category,
.list-address,
.list-phone {
	margin: 2px;
}

.no-filtered-list {
	z-index: 10;
	position: fixed;
	right: 25px;
	top: -20px;
	background: #1c5380;
	height: 50px;
	padding: 10px;
	width: 370px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	border: 1px solid #ddd;
	margin-top: 100px;
	transition: 0.2s;
	color: red;
/*display: none;*/
}

.loading {
	z-index: 15;
	position: fixed;
	right: 25px;
	top: -20px;
	background: #1c5380;
	height: 50px;
	padding: 10px;
	width: 370px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	border: 1px solid #ddd;
	margin-top: 100px;
	transition: 0.2s;
	color: red;
}

.hamburger-menu {
	z-index: 100;
	position: fixed;
	right: 30px;
	top: 25px;
	height: 35px;
	width: 35px;
}

.listiew-toggle {
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	font-size: 16px;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	outline: 0;
	border: 1px solid #1c5380;
	font-weight: 200;
	background: #1c5380;

}

.listiew-toggle:focus {
    outline: 0;
}

.listiew-toggle .hamburger-bar {
    display: block;
    width: 23px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
}

.listiew-toggle .hamburger-bar + .hamburger-bar {
    margin-top: 4px;
}

/* For small devices */
@media only screen and (max-width : 400px) {
	.list-view,
	.loading,
	.no-filtered-list {
		width:280px; 
	}

	.filterBox {
		width: 230px;
	}

	.list-view {
		max-height: 450px;
	}

	.list-name {
		font-size: 15px;	
	}

	.list-category,
	.list-address,
	.list-phone {
		font-size: 12px;
	}


}











